{% extends 'base.html' %}

{% block content %}

<h1>{{movie.title}}</h1>
<p><a href='{{ movie.imdb_url }}'>View on IMDB</a></p>

{% if 'user' in session %}

<button id='addRating' name='addRating'>Add Rating</button>
<form action='/add-rating' method='POST' id='ratingsStuff' hidden>
    Add your rating: <input type='text' id='score' name='score'>
    <input type='hidden' value='{{ movie.movie_id }}' name='movie_id'>
    <input type='submit' value='submit' id='submitRating'>
</form>

{% endif %}

<ul id='userRatings'>

    {% for rating in movie.ratings %}

    <li id='{{rating.user_id}}'>{{rating.score}} (from <a href='/users/{{rating.user_id}}'>user {{rating.user.user_id}})</a></li>

    {% endfor %}


</ul>

<script>

{% if 'user' in session %}
$('#addRating').on('click', function(){ 
    $('#ratingsStuff').toggle();
    })

$('#submitRating').on('click', function(evt) {
    evt.preventDefault();

    dataSend = {'movie': '{{ movie.movie_id }}', 'score': $('#score').val()}

    $.post('/add-rating', dataSend, function(result) {
        console.log(result.msg);
        
        if (result.reload === 1) {
            $("li#{{session['user']}}").load(location.href + " #{{session['user']}}");
        
        } else {
            $('#userRatings').append("<li id='{{session['user']}}'>")
            $("li#{{session['user']}}").load(location.href + " #{{session['user']}}")

    }
    })
})
{% endif %}

</script>

{% endblock %}

<!-- TO DO: when they click on the user profile, scroll down to the rating they came from? -->